html {

    width: 100%;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #d1eed5;
    color: #1c3d3b;
    width: 100%;
}

.header {
    background: #62a39e;
    padding: 30px;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile-img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
}

.header-info h1 {
    margin: 0;
    font-size: 24px;
    color: white;
}

.header-info p {
    margin-top: 5px;
    color: white;
}

.pestana {
    background-color: #7ebab3;
    color: white;
    width: 15%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-right: 30px;
    text-align: center;
    cursor: pointer;

}

#pestana-activa {

    background-color: #d1eed5;
    color: #073b3a;

}

#experiencia {

    display: inline-flex;
    justify-content: left;
    

}

#container-pestanas {

    width: 100%;
    display: inline-flex;
    justify-content: left;
    align-self: flex-end;
    
}

.bloques-experiencia {



    margin-right: 30px;
    


}

.section {
    background: #7ebab3;
    margin: 35px;
    padding: 25px;
    border-radius: 4px;
}

.section h2 {
    margin-top: 0;
    font-size: 22px;
    color: white;
}

.section h3,
.section h4 {
    margin-bottom: 5px;
    color: #073b3a;
}

.section p {
    margin: 8px 0;
}

ul {
    margin: 10px 0;
}

.tools {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tools span {
    background: #d1eed5;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    border: 1px solid #5a9188;
}

div.scroll-container {

  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  
  width: 50%;
  
}
.section.sectionportfolio {
    scrollbar-color:#62a39e white;
    background-color: #d1eed5;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.bloques-portfolio {
    display: block;
    width: 47.5%;
    background-color: #7ebab3;
    border-radius: 4px;
    padding: 16px;
}


@media (max-width: 768px) {
#experiencia {

    display: block;
  

}

.pestana {
    width: 30%;
    margin: 0;
    font-size: 12px;

}

#container-pestanas {

justify-content: space-between
    

}


.header {
    display: flex;
    flex-direction: column;
    justify-content: center; /* horizontal */
    align-items: center;
    
}


.bloques-portfolio {

    width: 90%;
    font-size: 13px;
    margin-bottom: 25px;


}

div.scroll-container img {
  
  width: 100%;
  
}

.section.sectionportfolio {

    display: block;
    padding: 25px;
    margin: 0;


    
    
}


}
